#member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    text-align: center;
}

.member-wrapper {
    width: 50%;
    height: auto;
    text-align: center;
    color: #6aa2d5;

    background: #ffffff;
    box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 2rem;
}

.profile-text {
    font-size: 2em;
    font-weight: bold;
    line-height: 47px;
}
.member-profile {
    width: 150px;
    border-radius: 10rem;
    margin-top: 1.5vh;
    margin-bottom: 2vh;
}

.fullname-text {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 28px;

    color: #6aa2d5;
    margin-right: 2rem;
}

.fullname-input-box {
    width: 15vw;
    height: 5vh;
    background: #ffffff;

    box-shadow: 3px 4px 10px 1px rgba(92, 170, 250, 0.3);
    border-radius: 10px;
    border: 0;
    outline: 0;
    margin-right: 3vw;
}

.change-fullname-btn {
    width: 190px;
    height: 50px;
    background: #6aa2d5;
    border-radius: 10px;
    border: 0;
    outline: 0;

    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 4vh 0 4vh 0;

    cursor: pointer;
}
