.container{
  width: 90vw;
  height: 40vw;
  margin: 3em 0 0 0;
  display: flex;
  background-color: none;
}
.container .col1{
  flex-direction: column;
  background-color: none;
  box-shadow: 0px 1px 3px rgb(150, 150, 150);
  border-radius: 2.5vw 0 0 2.5vw;
  border-color: none;
  height: 35vw;
  width:40vw;
  display: block;
  float:left;
    img{
      width: 100%;
      height: 100%;
    }
}

.container .col2{
  text-align: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 1px 3px rgb(150, 150, 150);
  border-radius: 0 2.5vw 2.5vw 0;
  height: 35vw;
  width:40vw;
  display: block;
  float:left;
  .title{
    font-size: 3vw;
    font-weight: bolder;
    margin-top: 10vw;
    margin-bottom: 0;
  }
  .content{
    font-size: 1.5vw;
    margin-bottom: 1em;
  }
}

