.app-bar {
    background-color: #5caafa;
    width: auto;
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

.app-logo {
    float: left;
    margin: 0.5rem 0 0.5rem 4vw;
    cursor: pointer;
}

.app-logo-text {
    float: left;
    text-align: center;
    font-size: 1.4em;
    font-weight: 900;
    margin: 0.4rem 0 0 1.2vw;
    cursor: pointer;
}

.user-profile-image {
    position: absolute;
    right: 0;
    top: 0.5vw;
    border-radius: 4vw;
    margin-right: 1.5vw;
    cursor: pointer;
}

.menu{
    background-color: #5caafa;
    right: 1vw;
    top: 5vw;
    text-align: center;
    width: 10vw;
    height: 5.3em;
    box-shadow: 0px 4px 6px #434547;
    border: solid 1px #5496d8;
    border-radius: 1vw;
    display:none;
    position: absolute;
}

button:focus .menu{
    color: white;
    z-index: 5;
    display: block;
    p:nth-child(1){
        margin: 0;
        padding: 0.6em 0 0.5em 0;
        border-bottom:solid 1px #627381;
    }
    p:nth-child(1):hover{
        cursor:pointer;
        border-radius: 1vw 1vw 0 0;
        background-color: #549ae0;
    }
    p:nth-child(2){
        margin: 0;
        padding: 0.5em 0 0.5em 0;

    }
    p:nth-child(2):hover{
        cursor:pointer;
        background-color: #549ae0;
        border-radius: 0 0 1vw 1vw;
    }
}