.app-bar {
    background-color: #5caafa;
    width: auto;
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

.app-logo {
    margin: 0.5rem 0 0.5rem 4vw;
    cursor: pointer;
}

.app-logo-text {
    text-align: center;
    font-size: 1.4em;
    font-weight: 900;
    margin: 0.4rem 0 0 1.2vw;
    cursor: pointer;
}

.user-profile-image {
    position: absolute;
    right: 0;
    margin-right: 1.5vw;
    cursor: pointer;
}
