#placeItemContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 15px;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgb(150, 150, 150);
  cursor: pointer;
}

#markerImageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 50px;
    margin-right: 5px;
  }
}

#placeInfoContainer {
  div,
  span,
  a {
    font-size: 11px;
  }

  a {
    margin-left: 5px;
    color: #787878;
  }

  :nth-child(1) {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 13px;
  }
}

#voteButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;

  button {
    background: none;
    width: 52px;
    height: 52px;
    border: none;
    cursor: pointer;
    img {
      width: 52px;
      height: 52px;
      filter: drop-shadow(0px 1px 1px rgb(175, 175, 175));
    }
  }
}
