#map {
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.map_wrap {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  font-size: 12px;

  * {
    margin: 0;
    padding: 0;
    font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
    font-size: 12px;
  }

  a {
    color: #000;
    text-decoration: none;

    &:hover,
    &:active {
      color: #000;
      text-decoration: none;
    }
  }

  position: relative;
  width: 100%;
  height: 500px;
}

#menu_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 380px;
  height: 90vh;

  overflow-y: auto;
  background: #ececec;
  z-index: 1;
  font-size: 12px;
}

#searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 7vh;

  background-color: #5caafa;

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 330px;
    background-color: white;
    border-radius: 5px;

    input {
      width: 280px;
      height: 4vh;
      border: none;
      outline: none;
      font-weight: bold;
    }

    button {
      background: none;
      border: none;

      img {
        height: 16px;
      }
    }
  }
}

#placesList {
  padding: 0 10px 0 10px;
}

#pagination {
  margin: 10px auto;
  text-align: center;

  a {
    display: inline-block;
    margin-right: 10px;
  }

  .on {
    font-weight: bold;
    cursor: default;
    color: #777;
  }
}
