$main-color:#5caafa;
$side-menu-width: 455px;

#map {
    z-index: 1;
    height: 100vh;
}

.map-close{      
    width: calc(100% - 455px);
}

.map-open{
    width: 100%;      
}


.map_wrap {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;

    * {
        margin: 0;
        padding: 0;
        font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
        font-size: 12px;
    }

    a {
        color: #000;
        text-decoration: none;

        &:hover,
        &:active {
            color: #000;
            text-decoration: none;
        }
    }

    position: relative;
    width: 100%;
    
}

.bg_white {
    background: #fff;
}


#side-menu-wrap{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $side-menu-width;
    height: 100%;
    overflow: hidden;
    background-color: #E5E5E5;
    
    z-index: 1;
    font-size: 12px;

    .option {

        $btn-width: 30px;
        $btn-height: 30px;
        $input-width: 415px;
        $input-height: 45px;
        width: 100%;
        height: 60px;
        background-color: $main-color;
        text-align: center;
        position: relative;
        p {
            margin: 10px 0;
        }

        button {
            background-color: white;
            width: $btn-width;
            height: $btn-height;
            border: none;
            position: absolute;
            right: 40px;
            top: calc(#{$input-height}/2 - #{$btn-height}/2);
            cursor: pointer;
        }

        input{
            padding-left: 20px;
            width: $input-width;
            height: $input-height;
            border-radius: 5px;
            border: none;
        }

       
    }
}

#select-bar{
   
    background-color: $main-color;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: white;
        width: 125px;
        height: 33px;
    }
    .style1-btn{
        background-color: #1E7CDC;
    }
    .on{
        background-color: #145AA1;
    }
    
}
%side-menu{
    cursor: pointer;
    z-index: 5;
    position: absolute;
    background-color: rgba(0,0,0,0);
    height: 134px;
    width: 34px;
    border: none;

    top: calc(50% - 130px/2);
}

%tri{
    position: relative;
    top:-65px-12px;
    right: 0px;
    width: 0px;
    height: 0px;

    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

#side-menu-close{
   
    @extend %side-menu;
    right: calc(100% - #{$side-menu-width} - 34px);
    
    .tri-close{
        @extend %tri;
        border-right: 25px solid #2196F3;
    }
   
}

#side-menu-open{
    @extend %side-menu;
    right: calc(100% - 34px);

    .tri-open{
        @extend %tri;
        border-left: 25px solid #2196F3;

    }
}

.react{
    height: 100px;
    width: 0px;
    border-left: 34px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  
}

